@import "~bootstrap/scss/bootstrap.scss";

  .counter{
    background-color: black;
    color: white;
    font-size: 10rem;
};
.counterBox{
    background-color: rgb(20, 20, 20);
    margin: 1px white solid;
    
};